
/* ADMIN ZONE*/
.adminZone
{
	position: absolute;
	z-index: 11;
	display: flex;
	flex-direction: row;					
	top: 0px;
	background-color: #b3d1ff;
	color: blac; 
	box-shadow: 0px 9px 10px 5px rgba(0,0,0,0.60);
}
.adminZoneLeft
{
	border: solid re;
	width: 35%;
}
.adminZoneRight
{
	border: solid gree;
	position: relative; 
	width: 60%;
}

			.administrationArticles
			{
				border: solid re; 
				background-color: white;
				width: 90%;
				min-height: 300px; 
				margin-top: 30px;
				max-height: 350px; 
				margin-left: auto; 
				margin-right: auto; 
				overflow: scroll;
				padding: 1%; 
				box-shadow: inset -3px 8px 26px 7px rgba(0,0,0,0.67);
			}
			/*presentation des articles dans l'ADMIN*/
			.adminArticles
			{
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;	
				border: solid gree;
				background-color: #b3d1ff;
				margin-bottom: 5px;
				/*width: 100%;*/
				box-shadow: 0px 12px 7px 4px rgba(0,0,0,0.71);
			}
			.adminArticles div, em, h4, p
			{
				display: inline-block;
				margin: 0px;
				padding: 0px;
			}
			.adminArticles .contentDate, .adminComments .contentDate
			{
				margin: 0px;
				padding: 1%;
				width: 20%;
				height: 100;
			}
			.adminArticles .contentData, .adminComments .contentData
			{
				margin: 0px;
				padding: 1%;
				width: 50%;
				text-align: justify;
				background-color: white;
			}
			.adminArticles .contentAction, .adminComments .contentAction
			{
				margin: 0px;
				padding: 1%;
				width: 23%;
				height: 100%;
				text-align: right;
			}
				
				.administrationComments
				{
					border: solid re; 
					background-color: white;
					width: 90%;
					min-height: 300px; 
					max-height: 350px; 
					margin-left: auto; 
					margin-right: auto; 
					overflow: scroll;
					padding: 1%; 
					box-shadow: inset -3px 8px 26px 7px rgba(0,0,0,0.67);
					
				}

.adminComments
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	background-color: #b3d1ff;
	margin-bottom: 5px;
	width: 100%;
	box-shadow: 0px 12px 26px 0px rgba(0,0,0,0.67);
}
	
.adminComments h4, em
{
	display: inline-block;
}
.adminComments div
{
	margin: 0px;
		display: inline-block;

}
.redFlag
{
 background-color: yellow;
 
}

									/* AFFICHAGE POSTS pAGE PRINCIPALE */
									.content
									{
										border: solid gree;							
										margin-top: 25px;
										margin: 0px;
										padding: 0px;
										box-shadow: 0 0 0 0, 5px 5px 15px #555, 0 0 0 0,-5px 5px 15px #555;
									}
									.news
									{
										width:100%;
										border: solid re;
										margin: auto;
										position: relative;
									}
									.news h2
									{
										font-size:32px;

									}	
									.news p
									{
										margin-top:0px;
										padding: 2%; 
										width: 100%;
										margin: 0px;
										color: black;
										background-color: #b3d1ff;
									}
									.news p a
									{
										text-decoration: none; 
									}
									.readMore a
									{
										color: red;
										
									}
									.news h2, .newsDate
									{
										width:100%;
										background-color: black;
										color: white;
										margin: auto;
										position: relative;
										margin:0px;
										text-align:center;				
									}	
									.newsDate
									{
										font-size:0.9em;
									}		
									.newsPost
									{
										border: solid gree;
										width: 100%;
										margin-bottom: 15px;
										background-color: black;
									}
								
									/* DISPLAY IMAGES */ 
									.imageClass
									{
										border: solid re; 
										margin: 0px;
										width: 100%; 
										height: 100%; 
									}
									.news img
									{
										max-height: 30%;
									}	
									/* TITRE BLOG */
									h1,h2, h3
									{
										padding-top: 15px;
										padding-bottom: 15px;
										text-align:center;
										border: solid re;
									}	
									h1 a
									{
										color: black;
										margin-top: 35px;
										display: inline-block;
									}
									h2
									{
										background-color:white;
										color:black;
										font-size:20px;
										margin:0px;
										background: rgba(255, 255, 255, 0.8);
									}
									
									
									
									
/* FORM COMMENT */
.formComment
{
	background-color: #b3d1ff;
	padding: 1%;
}
.formComment label
{
	font-size: 18px;
	font-style: italic;
}		
.formComment input[type='text'], textarea
{
	border: solid re;
	width: 20%; 
}		
.commentDiv
{
	padding: 1%;
	background-color: rgba(255, 255, 255, 0.5);		
}
.commentComment
{
	background-color: white;
	width: 100%;
}

/* BUTTON S du blog */
.buttonLikeDiv
{
	position: relative;
	border: solid 1px black; 
	width: 55px; 
	height: 20px;
	border-radius: 5px;
	margin-right: 0px;
	margin-left: 15px;
	display: inline-block;
	padding: 0px;
	text-align: right;
}
.buttonLike, .buttonDislike
{
	position: absolute;
	top: 0px;
	left: -7px;
	/*[ Position ]*/
	display: inline-block;	
	height:20px;
	width:20px;
	line-height:47px;
	background-color:#fff;
	text-align:center;
	font-size: 32px;
	/* Transitions */
	transition:.1s ease-out;
	/* Shadows */
	/*box-shadow:inset 0 0 5px 0 rgba(255,255,255,0.5);*/
	box-shadow: 6px 8px 10px 0px rgba(0, 0, 0, 0.6);/* Borders */
	border-bottom:1px solid black;
	/*[{- Border radius -}]*/
	border-radius:30px;
}
.buttonLike:hover, .buttonDislike:hover
{
    animation: pulse 1s ease 0s infinite normal;
}
@keyframes pulse 
{
    0% {
      transform: scale(1) rotate(0deg); 
    }
    50% {
      /*transform: scale(1.1) rotate(-5deg);*/ 
      transform: scale(1.3) rotate(-5deg); 
    }
    100% {
      transform: scale(1) rotate(0deg); 
    }
}
.buttonLike:active, .buttonDislike:active
{
	color:grey;
	transition: 0.1s;
	/*{Shadow}*/
	box-shadow:inset 2px 2px 5px 0 #333;
	box-shadow: 2px 4px 5px 0px rgba(0, 0, 0, 0.6);
}



/* FOOTER */
.footer
{
	margin: 10px 0px 0px 0px;
	padding: 1% 5% 1% 5%;
	height: 55px;
	background-color: #b3d1ff;
	color: black;
	box-shadow: 0px 9px 23px 6px rgba(0,0,0,0.70);	
}	

/*----------------- FORMULAIRE d'inscription & connexion ---------------*/								
#form
{
margin-left: auto; 	
margin-right: auto;
z-index: 0; 
padding: 25px 25px 25px 25px;
width: 250px;
height: 350px; 
background-color:  #cce0ff; 
}					
#form input 
{
border-radius: 5px;
width: 160px;
border-color: #555;
display: inline-block; 
}
#div-checked-pseudo
{
display: inline-block; 	
}
#pseudo-checked
{
visibility: hidden; 
width: 15px;
margin-left: 10px; 
margin-top: 10px;  		
}
#mdp-checked
{
visibility: hidden; 
width: 15px;
margin-left: 10px; 
margin-top: 10px;  		
}
#confirmation-checked
{
visibility: hidden; 
width: 15px;
margin-left: 10px; 
margin-top: 10px;  		
}
#mail-checked
{
visibility: hidden; 
width: 15px;
margin-left: 10px; 
margin-top: 10px;  		
}	